body {
  margin: 0;
  background-color: cornsilk; }

.header {
  padding: 16px;
  font-size: 2em;
  background-color: darkolivegreen; }
  .header > a {
    text-decoration: none;
    color: floralwhite; }
    .header > a:visited {
      color: floralwhite; }

.content {
  margin-top: 24px; }
  .content .left-menu {
    float: left;
    width: 190px;
    font-size: 1.5em;
    background-color: darkolivegreen;
    text-align: center; }
    .content .left-menu .left-menu-item {
      padding: 12px; }
      .content .left-menu .left-menu-item a {
        text-decoration: none;
        color: floralwhite; }
        .content .left-menu .left-menu-item a:visited {
          color: floralwhite; }
        .content .left-menu .left-menu-item a:hover {
          color: black; }
  .content .view-content {
    margin-left: 214px;
    margin-right: 24px;
    padding: 24px;
    background-color: darkkhaki; }
    .content .view-content .details_table td {
      padding-left: 16px;
      text-align: center; }
      .content .view-content .details_table td:first-child {
        text-align: right; }

.center {
  text-align: center; }
